using Godot;
using RitsuMod.Content;

namespace {{namespace}}
{
    public class {{className}} : CardComponent
    {
        public override void SetDefaults()
        {
            Name = "{{name}}";
            Cost = {{cost}};
            Type = CardType.{{type}};
            Rarity = CardRarity.{{rarity}};
            Description = "{{description}}";
{{#keywords}}
            Keywords.Add("{{.}}");
{{/keywords}}
        }
{{#triggerMethods}}

        public override void {{methodName}}()
        {
{{#statements}}
            {{{.}}}
{{/statements}}
        }
{{/triggerMethods}}
    }
}
